<style>
    tr{
        cursor: default
    }
</style>

<table style="width:100%">
    {{#each data}}
        {{#each items}}
        <tr>
                <td>{{nazwa}}</td>
                <td>{{value}}</td>
        </tr>
        {{/each}}
    {{/each}}



</table>